<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="text-center">New Comment</h1>
  </div>

  <%= render 'form' %>
</div>

<%= link_to 'Back', movie_path(@movie), class: 'btn btn-default' %>