<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="text-center">Editing movie</h1>
  </div>

  <%= render 'form' %>
</div>

<%= link_to 'Show', @movie %> |
<%= link_to 'Back', movies_path %>