<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="text-center">New movie</h1>
  </div>

  <%= render 'form' %>
</div>

<%= link_to 'Back', movies_path, class: 'btn btn-default' %>